@font-face {
  font-family: "AppleSDGothicNeoB";
  src: url('https://oden-public.s3.ap-northeast-2.amazonaws.com/fonts/AppleSDGothicNeo/AppleSDGothicNeoB.otf') format('opentype'),
    url('https://oden-public.s3.ap-northeast-2.amazonaws.com/fonts/AppleSDGothicNeo/AppleSDGothicNeoB.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AppleSDGothicNeoB";
  src: url('https://oden-public.s3.ap-northeast-2.amazonaws.com/fonts/AppleSDGothicNeo/AppleSDGothicNeoR.otf') format('opentype'),
    url('https://oden-public.s3.ap-northeast-2.amazonaws.com/fonts/AppleSDGothicNeo/AppleSDGothicNeoR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}